body{

    background:#f4f6f9;

    font-family:Arial, Helvetica, sans-serif;

}

.card{

    border:none;

    border-radius:10px;

}

.card-header{

    font-weight:bold;

}

.navbar{

    margin-bottom:20px;

}

.btn{

    border-radius:8px;

}

table{

    text-align:center;

}

input,
select{

    border-radius:8px !important;

}

.alert{

    border-radius:8px;

}

h2,h3,h4{

    font-weight:bold;

}

.container{

    margin-top:30px;

}

.card:hover{

    transform:scale(1.01);

    transition:0.3s;

}